body {
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.div-title {
    display: block;
    position: relative;    
}

.div-title h1 {
    text-align: center;
}

.div-connection {
    display: block;
    position: relative;
    text-align: center;
}

.div-connection button {

}

.div-loading {
    text-align: center;
}


.div-chat {
    display: block;
    position: relative;
}

.div-chat textarea {
    display: block;
    width: 100%;
    color: black;
}

.div-input {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}